<div class="container-fluid">

    <div class="container mt-5">
        <h3 class="mb-3" style=" text-align: center; font-weight: 400;">PROJECT</h3>
       

        <div class="row">
            
            <div class="col-md-3">
                <div class="card mb-5">
                    <div class="view view-cascade overlay">
                        <img src="{{posts.image.url}}" class="img-fluid" alt="" height="200">

                    </div>
                    <div class="card-body">
                        <h3 class="">{{posts.title}}</h3>
                        <p class="card-text"><b>Description:</b>{{posts.description}}</p>
                        <a href="{{posts.url}}" target="_blank">View site</a>
                    </div>
                </div>
            </div>
           
        </div>

    </div>

    <div class="table">
        <button><a href="{% url 'rate' %}">Rate the project</a></button>
        <table class="table" border="1">
            <th>Username</th>
            <th>Design Rating</th>
            <th>Usability Rating</th>
            <th>Content Rating</th>
            <th>Overal Score</th>
            
            <tr>
                <td class="user"></td>
                <td class="design"></td>
                <td class="usability"></td>
                <td class="content"></td>
                <td class="average"></td>

            </tr>


            
        </table>
    </div>
</div>