<div style="background-color: #efefef;" class="container-fluid">

    <div class="container mt-5">
        <h3 class="mb-3" style=" text-align: center; font-weight: 400;">PROJECT</h3>
       

        <div class="row">
            
            <div class="col-md-3">
                <div class="card mb-5">
                    <div class="view view-cascade overlay">
                        <img src="{{posts.image.url}}" class="img-fluid" alt="" width="100%" >

                    </div>
                    <div  style="text-align: center;" class="card-body mb-5">
                        <h1 class="">{{posts.title}}</h1>
                        <p class="card-text"><b>Description:</b>{{posts.description}}</p>
                        <a  style="margin-bottom: 5%;" href="{{posts.url}}" target="_blank">View site</a>
                    </div>
                </div>
            </div>
           
        </div>

    </div>

    <div style="margin-top: 6%;" class="table">
        <button style="display: block; margin:2%"  ><a  style="background-color: white; color: black;" href="{% url 'rate' %}">Rate the project</a></button>
        <table style=" margin:2%" class="table" border="1">
            <th>USERNAME</th>
            <th>DESIGN RATING</th>
            <th>USABILITY RATING</th>
            <th>CONTENT RATING</th>
            <th>OVERALL SCORE</th>
            
            <tr>
                <td class="user"></td>
                <td class="design"></td>
                <td class="usability"></td>
                <td class="content"></td>
                <td class="average"></td>

            </tr>


            
        </table>
    </div>
</div>