{% extends 'base.html' %}
{% load bootstrap4 %}
{% load bootstrap_icons %}
{% load static %}
{% block content %}
{{block.super}}
<div style="background-color: #efefef;" class="container-fluid">
    <div class="div" style="background-image:url('https://res.cloudinary.com/memory987651234/image/upload/v1649620223/awwards_h1xwxv.jpg' ); width:100% ; background-repeat: no-repeat; background-size: cover; height: 100vh;  background-position: center; text-align:center; overflow-x:hidden; opacity: 1; ">
    </div>
    <div class="container-fluid mt-5">
        <h3  class="mb-3" style=" text-align: center; font-weight: 400;" >PROJECTS</h3>
        {% if posts%}

        <div class="row">
            {% for post in posts %}
            <div class="col-md-3">
                <div class="card mb-5">
                    <div class="view view-cascade overlay">
                        <img src="{{post.image.url}}" class="img-fluid" alt="" height="200">

                    </div>
                    <div style="font-size: 1.5em;" class="card-body">
                        <h3 class="">{{post.title}}</h3>
                        <p class="card-text"><b>Description:</b>{{post.description}}</p>
                        <p class="card-text"><b>Author:</b>{{post.user}}</p>
                        <a href="details/{{post.id}}">See More</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>





        {% else %}
        <h2>There are no posts </h2>
        {%  endif%}
    </div>
</div>

{%endblock%}