{% extends 'base.html' %}
{%load bootstrap4%}
{%block content%}
<div style="background-color: #efefef;" class="container-fluid" >
    <div class="row mt-5" style="padding-top: 80px;">
        <div class="col-sm-6 m-auto card">
            <br>
            <div class="mb-5" >
                <form  method="POST" enctype="multipart/form-data" class="p-5">
                    {%csrf_token%}
                    <fieldset class="form-group">
                        <legend class="border-bottom pt-4 mb-4">Profile info</legend>
                        {%bootstrap_form form%}
                        
                    </fieldset>
                    <div class="form-group">
                        <button class="btn btn-secondary" type="submit">Update</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>




{%endblock%}